<section class="container" id="our-party-section">
  <h1 class="text-center mb-5" data-aos="fade-up">Nuestra Fiesta</h1>
  <p class="text-center">
    ¡La Celebración de Año Nuevo de Rosie O'Grady's y Manhattan Manor es la
    mejor manera de experimentar la cuenta regresiva de la caída de la bola en
    Times Square sin la larga espera en la calle!<br /><br />Únete a nosotros
    para una elegante fiesta todo incluido que cuenta con una cena gourmet,
    barra libre premium, baile con DJ Rhythm In Motion, y una actuación en vivo
    del dúo “Acute Inflections”. Si prefieres, ¡elige nuestro paquete de Bar
    para una experiencia fantástica de fiesta sin la cena!<br /><br />Disfruta
    de buena comida y bebidas, baila toda la noche, y justo antes de la
    medianoche, sal a nuestra acera exclusiva y acordonada para empaparte de la
    electrizante atmósfera y únete a la cuenta regresiva para dar la bienvenida
    al Año Nuevo en la ciudad más grandiosa del mundo!
  </p>
  <a target="_blank" href="/faq.pdf" class="d-block text-center"
    >Preguntas Frecuentes - Instrucciones Generales</a
  >
  <p class="text-center mt-3">
    <!-- <a
      href="https://www.timessquarenyc.org/times-square-new-years-eve/new-years-eve-parties"
      target="_blank"
      rel="noopener noreferrer"
      class="mt-2 d-block"
      >Nuestro evento está enlistado en el sitio web oficial de Times Square
      Alliance</a
    >
    <br /> -->
    <span class="text-white fw-bold">
      Confirmación Instantánea - Pago Asegurado y Encriptado por Stripe <br />
      Al optar por comprar entradas para nuestra fiesta de fin de año, usted acepta
      automáticamente nuestros <a href="/es/terms"
        >Términos y condiciones de uso</a
      >.
    </span>
  </p>
</section>
<section class="container" id="tickets-section">
  <h1 class="text-center mb-5" data-aos="fade-up">Tickets</h1>
  <h5 style="text-align: center;">Reserva anticipada termina el miércoles 30 de abril de 2025</h5>

  <div>
    <div class="row">
      <div class="col-12 col-lg-6 mt-5 mb-5">
        <h2 class="text-uppercase">Ticket de Cena VIP</h2>

        <p>
          <strong class="early-bird">Reserva anticipada $596</strong> <span class="text-light">p/persona + Impuesto NYS 8.875%</span> <br/>
          Precio regular<br>
          $745 p/persona + Impuesto NYS 8.875%<br>
          Ahorras $149 <br><br />

          <strong
            >Ticket de cena todo incluido como se detalla a continuación</strong
          ><br />
          8pm a 1am - puertas abren a las 8pm<br />
          Asientos VIP más cercanos a la pista de baile y espectáculo <br />
          Botella de Champagne en cada mesa<br />
          Cena Gourmet Completa (ver menú abajo)<br />
          Barra Libre Premium de Cinco Horas<br />
          Música de DJ y Baile<br />
          Espectáculo en Vivo<br />
          Cabina de Fotos y otros Favores<br />
          Vista Acordonada de la Caída de la Bola<br />
          <br />

          <a
            href="https://www.nye.manhattanmanor.com/es/tickets/"
            class="btn btn-primary text-uppercase"
            target="_blank">Comprar Tickets para Año Nuevo</a
          >
        </p>
      </div>
      <div class="col-12 col-lg-6 mt-5 mb-5">
        <h2 class="text-uppercase">Ticket de Cena</h2>

        <p>
          <strong class="early-bird">Reserva anticipada $556</strong> <span class="text-light">p/persona + Impuesto NYS 8.875%</span></strong> <br/>
          Precio regular<br>
          $695 p/persona + Impuesto NYS 8.875%<br>
          Ahorras $139 <br>
          <br />

          <strong
            >Ticket de cena todo incluido como se detalla a continuación</strong
          ><br />
          8pm a 1am - puertas abren a las 8pm<br />
          Asiento Reservado <br />
          Cena Gourmet Completa (ver menú abajo)<br />
          Barra Libre Premium de Cinco Horas<br />
          Música de DJ y Baile<br />
          Espectáculo en Vivo<br />
          Cabina de Fotos y otros Favores<br />
          Vista Acordonada de la Caída de la Bola<br />

          <br />
          <a
            class="btn btn-primary text-uppercase"
            href="https://www.nye.manhattanmanor.com/es/tickets/"
            target="_blank">Comprar Tickets para Año Nuevo</a
          >
        </p>
      </div>
      <div class="col-12 col-lg-6 mt-5 mb-5">
        <h2 class="text-uppercase">Ticket de Bar en el Bar</h2>

        <p>
          <strong class="early-bird">Reserva anticipada $316</strong> <span class="text-light">p/persona + Impuesto NYS 8.875%</span></strong> <br/>
          Precio regular<br>
          $395 p/persona + Impuesto NYS 8.875%<br>
          Ahorras $79 <br>
          <br />

          <strong>Asiento en nuestro Bar</strong>
          <br />
          9pm a 1am - puertas abren a las 9pm<br />
          Barra Libre Premium de Cuatro Horas<br />
          Comida de Bar<br />
          Música de DJ y Baile<br />
          Cabina de Fotos y otros Favores<br />
          Vista Acordonada de la Caída de la Bola<br />
          <br />
          
          <a
            class="btn btn-primary text-uppercase"
            href="https://www.nye.manhattanmanor.com/es/tickets/"
            target="_blank">Comprar Tickets para Año Nuevo</a
          >
        </p>
      </div>
      <div class="col-12 col-lg-6 mt-5 mb-5">
        <h2 class="text-uppercase">Ticket de Bar en Mesa Alta</h2>

        <p>
          <strong class="early-bird">Reserva anticipada $316</strong> <span class="text-light">p/persona + Impuesto NYS 8.875%</span></strong> <br/>
          Precio regular<br>
          $395 p/persona + Impuesto NYS 8.875%<br>
          Ahorras $79 <br><br>
          
          <strong
            >Asiento en una de nuestras Mesas Altas (ideal para grupos)</strong
          >
          <br />
          9pm a 1am - puertas abren a las 9pm<br />
          Barra Libre Premium de Cuatro Horas<br />
          Comida de Bar<br />
          Música de DJ y Baile<br />
          Cabina de Fotos y otros Favores<br />
          Vista Acordonada de la Caída de la Bola<br />

          <br />
          <a
            class="btn btn-primary text-uppercase"
            href="https://www.nye.manhattanmanor.com/es/tickets/"
            target="_blank">Comprar Tickets para Año Nuevo</a
          >
        </p>
      </div>
      <div class="col-12 col-lg-6 mt-5 mb-5">
        <h2 class="text-uppercase">Niños</h2>

        <p>
          <strong class="early-bird">Reserva anticipada $300</strong> <span class="text-light">p/persona + Impuesto NYS 8.875%</span></strong> <br/>
          Precio regular<br>
          $375 p/niño + Impuesto NYS 8.875%<br />
          Ahorras $75<br><br>

          (menores de 12 años) <br />
          Ticket de cena acompañante solamente - no en el bar<br /> <br>
          
          La opción para añadir niños solo está disponible con los Tickets de Cena
          VIP y Cena<br />
          <br />
          <a
            class="btn btn-primary text-uppercase"
            href="https://www.nye.manhattanmanor.com/es/tickets/"
            >Buy NYE Tickets</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .our-party-table {
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
  }

  .our-party-table thead {
    text-transform: uppercase;
  }

  .our-party-table th,
  .our-party-table td {
    padding: 10px;
  }

  p .early-bird{
    color: red;
    font-size: 1.1rem;
  }
</style>
