<section class="container" id="our-party-section">
  <h1 class="text-center mb-5" data-aos="fade-up">Our Party</h1>
  <p class="text-center">
    Rosie O'Grady's and Manhattan Manor's New Year's Eve Celebration is the
    ultimate way to experience the Times Square Ball Drop Count Down without the
    long wait on the street!<br /><br />Join us for a stylish all-inclusive
    party featuring a gourmet dinner, premium open bar, dancing to DJ Rhythm In
    Motion, and a live performance by the duo “Acute Inflections” If you prefer,
    choose our Bar package for a fantastic party experience without the dinner!<br
    /><br />Indulge in great food and drinks, dance the night away, and just
    before midnight, step out to our exclusive, cordoned-off sidewalk to soak in
    the electrifying atmosphere and join the Countdown to welcome the New Year
    in the greatest city in the world!
  </p>
  <a target="_blank" href="/faq.pdf" class="d-block text-center"
    >FAQ - General Instructions</a
  >
  <p class="text-center mt-3">
    <!-- <a
      href="https://www.timessquarenyc.org/times-square-new-years-eve/new-years-eve-parties"
      target="_blank"
      rel="noopener noreferrer"
      class="mt-2 d-block"
      >Our event is listed on the Times Square Alliance Official site Under
      Rosie O'Grady's listing</a
    >
    <br /> -->
    <span class="text-white fw-bold">
      Instant Confirmation - Secure and Encrypted check-out by Stripe <br />
      By opting to purchase tickets to our NYE party, you automatically agree to
      our <a href="/terms">Terms of use and conditions</a>.
    </span>
  </p>
</section>
<section class="container" id="tickets-section">
  <h1 class="text-center mb-5" data-aos="fade-up">Tickets</h1>
  <h5 style="text-align: center;">Early bird ends Wednesday, April 30, 2025</h3>
  <div>
    <div class="row">
      <div class="col-12 col-lg-6 mt-5 mb-5">
        <h2 class="text-uppercase">VIP Dinner Ticket</h2>

        <p>
          <span class="text-light">$745 p/person</span>  <strong class="early-bird">Early bird $596</strong><br/><br>

          <strong>All-inclusive dinner ticket as listed below</strong><br />
          8pm to 1am - doors open at 8pm<br />
          VIP seating nearest to dance floor and show <br />
          Bottle of Champagne at each table<br />
          Full Gourmet Dinner (see menu below)<br />
          Five Hour Premium Open Bar<br />
          DJ Music& Dancing<br />
          Live Show<br />
          Photo-booth and other Favors<br />
          Cordoned off View of the Ball Drop<br />
          <br />
          <a
            href="https://www.nye.manhattanmanor.com/tickets"
            class="btn btn-primary text-uppercase"
            target="_blank">Buy NYE Tickets</a
          >
        </p>
      </div>
      <div class="col-12 col-lg-6 mt-5 mb-5">
        <h2 class="text-uppercase">Dinner Ticket</h2>

        <p>
          <span class="text-light">$675 p/person</span>  <strong class="early-bird">Early bird $540</strong><br/><br>
          
          <strong>All-inclusive dinner ticket as listed below</strong><br />
          8pm to 1am - doors open at 8pm<br />
          Reserved Seat <br />
          Full Gourmet Dinner (see menu below)<br />
          Five Hour Premium Open Bar<br />
          DJ Music& Dancing<br />
          Live Show<br />
          Photo booth and other Favors<br />
          Cordoned off View of the Ball Drop<br />

          <br />
          <a
            class="btn btn-primary text-uppercase"
            href="https://www.nye.manhattanmanor.com/tickets"
            target="_blank">Buy NYE Tickets</a
          >
        </p>
      </div>
      <div class="col-12 col-lg-6 mt-5 mb-5">
        <h2 class="text-uppercase">Bar Ticket at Bar</h2>

        <p>
          <span class="text-light">$445</span>  <strong class="early-bird">Early bird $356</strong><br/><br>
     
          <strong>Seat at our Bar</strong>
          <br />
          9pm to 1am - doors open at 9pm<br />
          Four Hour Premium Open Bar<br />
          Bar Food<br />
          DJ Music& Dancing<br />
          Photo booth and other Favors<br />
          Cordoned off View of the Ball Drop<br />
          <br />

          <a
            class="btn btn-primary text-uppercase"
            href="https://www.nye.manhattanmanor.com/tickets"
            target="_blank">Buy NYE Tickets</a
          >
        </p>
      </div>
      <div class="col-12 col-lg-6 mt-5 mb-5">
        <h2 class="text-uppercase">Bar Ticket at High-Top</h2>

        <p>
          <span class="text-light">$445</span>  <strong class="early-bird">Early bird $356</strong><br/><br>

          <strong>Seat at one of our High-Tops (ideal for groups)</strong>
          <br />
          9pm to 1am - doors open at 9pm<br />
          Four Hour Premium Open Bar<br />
          Bar Food<br />
          DJ Music& Dancing<br />
          Photo booth and other Favors<br />
          Cordoned off View of the Ball Drop<br />
          
          <a
            class="btn btn-primary text-uppercase"
            href="https://www.nye.manhattanmanor.com/tickets"
            target="_blank">Buy NYE Tickets</a
          >
        </p>
      </div>

      <div class="col-12 col-lg-6 mt-5 mb-5 ticket-card">
        <h2 class="text-uppercase">Children</h2>

        <p>
          <span class="text-light">$408 p/person </span><strong class="early-bird">Early bird $326 </strong><br/><br>
          
          (under 12 years) <br />
          Accompanying dinner ticket only - not at bar<br />
          
          <br>

          Option to add children only available on VIP and Dinner Ticket<br />

          <a
            class="btn btn-primary text-uppercase"
            href="https://www.nye.manhattanmanor.com/tickets"
            target="_blank">Buy NYE Tickets</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .our-party-table {
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
  }

  .our-party-table thead {
    text-transform: uppercase;
  }

  .our-party-table th,
  .our-party-table td {
    padding: 10px;
  }

  div.ticket-card {
    position: relative;
    background: #000;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    user-select: none;
  }

  div.ticket-card.sold-out::before {
    content: "SOLD OUT";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 3rem;
    font-weight: 900;
    color: red;
    text-transform: uppercase;
    pointer-events: none;
    z-index: 10;
    opacity: 0.9;
    padding: 10px 20px;
    border: 6px solid red;
    border-radius: 8px;
    text-shadow:
      1px 1px 2px #ff0000,
      -2px -2px 4px #ff0000;
  }

  div.ticket-card h2 {
    margin-bottom: 15px;
  }

  div.ticket-card a {
    display: inline-block;
    margin-top: 15px;
  }

  div.ticket-card.sold-out a {
    pointer-events: none;
    opacity: 0.5;
  }

  p .early-bird{
    color: red;
    font-size: 1.1rem;
  }
</style>
