<section class="container">
  <h1 class="text-center mb-5" data-aos="fade-up">Nuestra Fiesta</h1>
  <p class="text-center">
    ¡La celebración de Nochevieja de Rosie O'Grady's y Manhattan Manor es la mejor manera de experimentar la cuenta regresiva para el descenso de la bola en Times Square sin la larga espera en la calle!<br /><br />Únete a nosotros para una elegante fiesta todo incluido con una cena gourmet, barra libre premium, baile con DJ Rhythm In Motion y una actuación en vivo del dúo "Acute Inflections". Si lo prefieres, elige nuestro paquete de bar para disfrutar de una experiencia de fiesta fantástica sin la cena!<br /><br />Disfruta de excelente comida y bebidas, baila toda la noche y, justo antes de la medianoche, sal a nuestra acera exclusiva y acordonada para empaparte del ambiente electrizante y únete a la cuenta regresiva para dar la bienvenida al Año Nuevo en la ciudad más grande del mundo!
  </p>
  <a target="_blank" href="/faq.pdf" class="d-block text-center">Preguntas Frecuentes - Instrucciones Generales</a>

  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="text-uppercase">Boleto de Cena VIP</h2>

        <p>
          <strong>Boleto de cena todo incluido como se indica ABAJO</strong><br />
          8pm a 1am - puertas abiertas a las 8pm<br />
          Asientos VIP más cercanos a la pista de baile y el espectáculo<br />
          Botella de champán en cada mesa<br />
          Cena gourmet completa (ver menú abajo)<br />
          Barra libre premium de cinco horas<br />
          Música y baile con DJ<br />
          Show en vivo<br />
          Cabina de fotos y otros obsequios<br />
          Vista acordonada de la caída de la bola<br />
          <br /><br />
          $745 p/persona + Impuesto NYS 8.875%

          <a href="https://buy.stripe.com/test_5kAaFt9589N35c4eUW" target="_blank">COMPRA TU BOLETO</a>
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-uppercase">Boleto de Cena</h2>

        <p>
          <strong>Boleto de cena todo incluido como se indica ABAJO</strong><br />
          8pm a 1am - puertas abiertas a las 8pm<br />
          Asiento reservado<br />
          Cena gourmet completa (ver menú abajo)<br />
          Barra libre premium de cinco horas<br />
          Música y baile con DJ<br />
          Show en vivo<br />
          Cabina de fotos y otros obsequios<br />
          Vista acordonada de la caída de la bola<br />
          <br /><br />
          $695 p/persona + Impuesto NYS 8.875%

          <a href="https://buy.stripe.com/test_28o14Tchk1gxdIA003" target="_blank">COMPRA TU BOLETO</a>
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-uppercase">Boleto de Bar en el Bar</h2>

        <p>
          <strong>Asiento en nuestro Bar</strong><br />
          9pm a 1am - puertas abiertas a las 9pm<br />
          Barra libre premium de cuatro horas<br />
          Comida de bar<br />
          Música y baile con DJ<br />
          Cabina de fotos y otros obsequios<br />
          Vista acordonada de la caída de la bola<br />
          <br /><br />
          $395 p/persona + Impuesto NYS 8.875%

          <a href="https://buy.stripe.com/test_bIYbJxa9c5wN8og7ss" target="_blank">COMPRA TU BOLETO</a>
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-uppercase">Boleto de Bar en Mesa Alta</h2>

        <p>
          <strong>Asiento en una de nuestras mesas altas (ideal para grupos)</strong><br />
          9pm a 1am - puertas abiertas a las 9pm<br />
          Barra libre premium de cuatro horas<br />
          Comida de bar<br />
          Música y baile con DJ<br />
          Cabina de fotos y otros obsequios<br />
          Vista acordonada de la caída de la bola<br />
          <br /><br />
          $395 p/persona + Impuesto NYS 8.875%

          <a href="https://buy.stripe.com/test_eVa14TgxA8IZawo145" target="_blank">COMPRA TU BOLETO</a>
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-uppercase">Niños</h2>

        <p>
          <strong>Asiento en una de nuestras mesas altas (ideal para grupos)</strong><br />
          9pm a 1am - puertas abiertas a las 9pm<br />
          Barra libre premium de cuatro horas<br />
          Comida de bar<br />
          Música y baile con DJ<br />
          Cabina de fotos y otros obsequios<br />
          Vista acordonada de la caída de la bola<br />
          <br /><br />
          $395 p/persona + Impuesto NYS 8.875%

          <a href="https://buy.stripe.com/test_9AQeVJbdg1gx0VO6os" target="_blank">COMPRA TU BOLETO</a>
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .our-party-table {
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
  }

  .our-party-table thead {
    text-transform: uppercase;
  }

  .our-party-table th,
  .our-party-table td {
    padding: 10px;
  }

  a {
    display: block;
    margin-top: 20px;
  }
</style>
