---
import InfoPages from "../../layouts/InfoPages.astro";
import { changeLanguage } from "i18next";

changeLanguage("es");
---

<InfoPages title="Términos de uso">
  <div class="content"></div>
</InfoPages>

<script>
  const response = await fetch(
    "https://cms.manhattanmanor.com/api/content/item/nyeterms?locale=es",
    {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        "api-key": import.meta.env.PUBLIC_CMS_API_KEY,
      },
    }
  );
  const data = await response.json();
  const content = data.content;
  document.querySelector(".content")!.innerHTML = content;
</script>
