---
import { t } from "i18next";
import Stamp from "../Stamp.astro";
---

<section class="container">
  <h1 class="text-center mb-5" data-aos="fade-up">{t("common.our-party")}</h1>
  <p class="text-center" set:html={t("party-menu-tickets.description")} />
  <a target="_blank" href="/faq.pdf" class="d-block text-center"
    >{t("faq-general-instructions")}</a
  >

  <div class="container mt-5">
    <div class="row">
      <div class="col-6">
        <h4 class="text-center">Bar</h4>
      </div>
      <div class="col-6">
        <h4 class="text-center">Dinner</h4>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6 col-md-3">
        <Stamp label="9pm to 1am" />
      </div>
      <div class="col-6 col-md-3">
        <Stamp label="4 Hours Premium Open Bar" />
      </div>
      <div class="col-6 col-md-3">
        <Stamp label="8pm to 1am" />
      </div>
      <div class="col-6 col-md-3">
        <Stamp label="5 Hours Premium Open Bar" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6 col-md-3">
        <Stamp label="Bar Food" />
      </div>
      <div class="col-6 col-md-3">
        <Stamp label="DJ Music & Dancing & After Party" />
      </div>
      <div class="col-6 col-md-3">
        <Stamp label="Premium Dinner" />
      </div>
      <div class="col-6 col-md-3">
        <Stamp label="DJ Music & Dancing & After Party" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6 col-md-3">
        <Stamp label="Amenities Photobooth and more" />
      </div>
      <div class="col-6 col-md-3">
        <Stamp label="Street Live View of the Ball Drop" />
      </div>
      <div class="col-6 col-md-3">
        <Stamp label="Amenities Photobooth and more" />
      </div>
      <div class="col-6 col-md-3">
        <Stamp label="Street Live View of the Ball Drop" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6 col-md-3">
        <Stamp label="View of the Street and Crowds" />
      </div>
      <div class="col-6 col-md-9">
        <Stamp label="View of the Street and Crowds" />
      </div>
    </div>
  </div>
</section>

<style>
  .our-party-table {
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
  }

  .our-party-table thead {
    text-transform: uppercase;
  }

  .our-party-table th,
  .our-party-table td {
    padding: 10px;
  }
</style>
