---
import { Image } from "@astrojs/image/components";
import AmandaImg from "../../assets/images/team/Amanda_Smith.webp";
import DiegoImg from "../../assets/images/team/Diego.jpeg";
import MichelleImg from "../../assets/images/team/michelle.png";
import { t } from "i18next";
---

<section class="container" id="team-section">
  <h1 class="text-center fw-bold mb-4" data-aos="fade-up">{t("our-team")}</h1>
  <p class="text-center">{t("our-team.description")}</p>

  <div class="d-flex justify-content-between mt-5">
    <div
      class="text-center d-flex justify-content-center flex-column align-items-center"
    >
      <Image
        class="d-block mx-md-auto mw-100 mb-3"
        src={AmandaImg}
        alt="Amanda Smith"
        width={250}
        height={250}
        format="webp"
      />
      <h2>Amanda Smith</h2>
    </div>
    <div
      class="text-center d-flex justify-content-center flex-column align-items-center"
    >
      <Image
        class="d-block mx-md-auto mw-100 mb-3"
        src={DiegoImg}
        alt="Diego Von Schmeling"
        width={250}
        height={250}
        format="webp"
      />
      <h2>Diego Von Schmeling</h2>
    </div>
    <div
      class="text-center d-flex justify-content-center flex-column align-items-center"
    >
      <Image
        class="d-block mx-md-auto mw-100 mb-3"
        src={MichelleImg}
        alt="Michelle Tanhoff"
        width={250}
        height={250}
        format="webp"
      />
      <h2>Michelle Tanhoff</h2>
    </div>
  </div>
</section>
