---
import { Image } from "@astrojs/image/components";
import AmandaImg from "../../assets/images/team/amanda.jpg";
import DiegoImg from "../../assets/images/team/diego.jpeg";
import MichelleImg from "../../assets/images/team/michelle.png";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
---

<section class="container" id="team-section">
  <h1 class="text-center fw-bold mb-4" data-aos="fade-up">{t("our-team")}</h1>
  <p class="text-center">{t("our-team.description")}</p>

  <div
    class="d-flex justify-content-center flex-wrap gap-4"
  >
    <!-- <div
      class="text-center d-flex justify-content-center flex-column align-items-center"
    >
      <Image
        class="d-block mx-md-auto mw-100 mb-3"
        style="width: 250px; height: 250px; object-position: top; object-fit: cover;"
        src={AmandaImg}
        alt="Amanda Smith"
        format="webp"
      />
      <h4>Amanda Smith</h4>
      <p>{t("our-team.amanda.role")}</p>
    </div> -->
    
    <div
      class="text-center d-flex justify-content-center flex-column align-items-center"
    >
      <Image
        class="d-block mx-md-auto mw-100 mb-3"
        src={DiegoImg}
        alt="Diego Von Schmeling"
        width={250}
        height={250}
        format="webp"
      />
      <h4>Diego Von Schmeling</h4>
      <p>{t("our-team.diego.role")}</p>
    </div>
    <div
      class="text-center d-flex justify-content-center flex-column align-items-center"
    >
      <Image
        class="d-block mx-md-auto mw-100 mb-3"
        src={MichelleImg}
        alt="Michelle Tanhoff"
        width={250}
        height={250}
        format="webp"
      />
      <h4>Michelle Tanhoff</h4>
      <p>{t("our-team.michelle.role")}</p>
    </div>
  </div>


  <p class="text-center mt-3">
    <a href={localizePath("/biographies")}>{t("biographies")}</a>
  </p>
</section>
