---
import RestaurantMenu from "../RestaurantMenu.astro";
import generalMenu from "../../data/generalMenu";
import vegetarianMenu from "../../data/vegetarianMenu";
import { t } from "i18next";
---

<section class="container" id="menus-section">
  <h1 class="text-center">{t("menu")}</h1>

  <div class="row mt-5">
    <div class="col-12 col-lg-6">
      <RestaurantMenu menu={generalMenu} />
    </div>
    <div class="col-12 col-lg-6">
      <RestaurantMenu menu={vegetarianMenu} />
    </div>
  </div>
</section>
